body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3f3f3; /* Modo Claro */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar.hide {
  left: -250px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333; /* Modo Claro */
  transition: color 0.3s ease;
  display: flex;
  align-items: center; /* Alinea verticalmente el icono y el texto */
}

.sidebar ul li a i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

.sidebar ul li a:hover {
  color: #666; /* Modo Claro */
}

.dark-mode .sidebar {
  background-color: #222; /* Modo Oscuro */
}

.dark-mode .sidebar ul li a {
  color: #fff; /* Modo Oscuro */
}

.content {
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.switch {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
  background-color: #333; /* Modo Oscuro */
  color: #fff;
}

#toggleSidebarBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #333;
}

#toggleSidebarBtn i {
  font-size: 24px;
}
